#errorName{
    display: none;
}
#errorPrice{
    display: none;
}
#errorPhoto{
    display: none;
}
.dark-mode{
    filter: invert(95%) hue-rotate(180deg);
}

#darkMode{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

.imagePreview{
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ccc;
}
progress{
    height: 50px;
}
.image-preview__image{
    display: none;
    width: 100%;
}
.card{
    transition: all 0.2s ease;
    /* height: 300px !important; */
    
    border: none;
    /* box-shadow: 0px 0px 1px 1px #ddd; */
    text-align: center;
    display: block;
}
.card p{
    margin: 0;
}
.card:hover{
    box-shadow: 0px 20px 40px -20px rgb(214, 214, 214);
}
.card img{
    width: 170px;
    text-align: center;
}

.width-600{
    max-width: 600px;
}

.productAddedMessage{
    color: #fff;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    background-color: rgb(8, 192, 100);
    padding: 5px;
    border-radius: 6px;
    display: none;
}




footer{
    color: #333;
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    box-shadow: 0px 10px 40px -10px #ccc;
    z-index: 999;
    background: rgba(248, 248, 248, 0.5);
    backdrop-filter: blur(50px);
}

.navbar{
    box-shadow: 0px 10px 40px -10px #ccc;
    width: 100vw;
    z-index: 9999;
    margin-bottom: 20px;
    top: 0;
    position: fixed;
    background: rgba(248, 248, 248, 0.5) !important;
    backdrop-filter: blur(50px);
    
}

.margin-top-100{
    margin-top: 100px;
}